.header__link_active {
	border-bottom: 2px solid white;

}

.header__link_active:hover {
	opacity: 0.5;
	transition-duration: 1.5s;
}

@media screen and (max-width: 767px) {
	.header__link_active {
		font-size: 18px;
		line-height: 20px;
		max-width: 22px;
		max-height: 20px;

	}
}