.header__link_ru {
	/*padding: 18px 2px 1px 0;*/
	/*text-decoration-line: underline;*/
	border-bottom: 2px solid white;
	
}

@media screen and (max-width: 767px) {
	.header__header__link_ru {
		font-size: 18px;
		line-height: 20px;
		max-width: 22px;
		max-height: 20px;
		/*padding: 14px 0 2px 0;*/
	}
}
