.place__link {
	max-width: 456px;
	max-height: 22px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFFFFF;
}

.place__link:hover {
	opacity: .5;
	transition-duration: 1.5s;
}

@media screen and (max-width: 1024px) {
	.place__link {
		padding: 0;
	}
}

@media screen and (max-width: 768px) {
	.place__link {
		width: 100%;
	}
}

/*@media screen and (max-width: 320px) {
	.place__link {
		padding: 0 16px 32px 16px;
	}
}*/