.cover {
	display: flex;
	flex-direction: column;
	max-width: calc(100% - 96px);
	min-height: 740px;
	margin: auto;
	width: 100%;
	background: url(../../images/cover-trains.jpg);
	background-size: cover;
}

@media screen and (max-width: 1279px) {
	.cover {
		max-width: 100%;
		min-height: 640px;
	}
}

@media screen and (max-width: 1023px) {
	.cover {
		min-height: 480px;
	}
}

@media screen and (max-width: 767px) {
	.cover {
		min-height: 200px;
		margin-top: 66px;
	}
}