.place__link {
	max-width: 456px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #FFFFFF;
	padding: 0;
	width: 100%;
}

.place__link:hover {
	opacity: .5;
	transition-duration: 1.5s;
}