.header__lang-en {
	color: #fff;
	text-decoration: none;
	max-width: 29px;
	max-height: 28px;
	padding: 18px 0 6px 18px;
}

/*@media screen and (max-width: 320px) {
	.header__lang_en {
		font-size: 18px;
		line-height: 20px;
		text-decoration: none;
		max-width: 22px;
		max-height: 20px;
		padding: 14px 0 0 18px;
	}
}*/