.footer {
	display: flex;
	justify-content: space-between;
	max-width: 1184px;
	padding: 92px 0 0 0;
	margin: 0 auto;
	width: 100%;
}

@media screen and (max-width: 1279px) {
	.footer {
		max-width: 928px;
		padding: 92px 0 24px 0;
	}
}

@media screen and (max-width: 1023px) {
	.footer {
		flex-direction: row;
		max-width: 720px;
		padding: 88px 0 24px 0;
	}
}

@media screen and (max-width: 767px) {
	.footer {
		flex-direction: column;
		max-width: 288px;
		padding: 64px 0 24px 0;
		margin: 0  auto;
	}
}